@import url('https://fonts.googleapis.com/css2?family=Archivo:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
.explore {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.exphead h1 {
    font-size: 3.333rem;
    font-family: Arial, Helvetica, sans-serif;
    font-style: italic;
    color: transparent;
    -webkit-text-stroke: 2px white; 
    text-shadow: none;
}
.exphead b {
    margin-left: 50px;
    margin-right: 50px;
    color: white;
    font-family: Inter, sans-serif;
}
.cards {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}
.card1, .card2, .card3, .card4{
    background-color: #808080;
    max-height: 227px;
    padding: 2rem;
    max-width: 280px;
    color: white;
}
.card1 img, .card2 img, .card4 img{
    width: 32px;
    filter: invert(100%) brightness(1000);
    height: 32px;
}
.card3 img{
    width: 32px;
    height: 32px;
}
.card1 button img, .card2 button img, .card3 button img, .card4 button img{
    width: 15px;
    height: 15px;
    filter: invert(0);
    margin-left: 30px;
}
.card1 button, .card2 button, .card3 button, .card4 button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px 10px 0;
    background-color: transparent;
    color: white;
    border: none;
    font-size: 1.13rem;
    cursor: pointer;
}
.card1 h1, .card2 h1, .card3 h1, .card4 h1 {
    font-size: 1.3rem;
    margin-top: 10px;
}
.card1:hover, .card2:hover, .card3:hover, .card4:hover{
    background: linear-gradient(210.41deg, rgb(250, 80, 66) 1.14%, rgb(255, 167, 57) 100.75%);
}
