.firstsectionn {
    display: flex;
    align-items: center;
    gap: 130px;
    margin-left: 4%;
}
.firstsectionn h1{
    display: flex;
    flex-direction: column;
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.firstsectionn b{
    color: white;
    font-size: 3rem;
    font-weight: 900;
}
.inpbtn {
    margin-top: 50px;
    display: flex;
    gap: 50px;
    background-color: gray;
    border-radius: 5px;
    padding: 20px 50px 20px 10px;
}
.inpbtn input {
    outline: none;
    background-color: transparent;
    border: none;
    width: 230px;

}
.inpbtn input::placeholder{
    color: black;
    font-size: 1.03rem;
}
.inpbtn button{
    background-color:  #f48916;
    padding: 10px 20px;
    color: black;
    font-weight: 600;
    cursor: pointer;
    border: none;

}
.inpbtn button:hover{
    background-color: white;
}
.line {
    width: 100%;
    height: 2px;
    color: white;
    background-color: white;
    margin-top: 100px;
}
.images {
    display: flex;
    gap: 30px;
    margin-top: 150px;
    align-items: center;
    justify-content: center;
}
.images img {
    width: 32px;
    height: 32px;
    cursor: pointer;
}
.logolast {
    width: 160px;
    height: 160px;
    text-align: center;
    margin-top: 50px;
    filter: invert(62%) sepia(106%) saturate(2001%) hue-rotate(6deg) brightness(100%) contrast(102%);
}
.lastsection {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 50px;
    position: relative;
}
.blur4 {
    position: absolute;
    bottom: 30px;
    left: 200px;
    background-color: rgba(253, 120, 43, .69);
    border-radius: 50%;
    filter: blur(150px);
    position: absolute;
    z-index: -1;
    height: 20rem;
    width: 12rem;
}
.blur5 {
    position: absolute;    
    bottom: 10px;
    right: 200px;
    background-color:red;
    border-radius: 50%;
    filter: blur(200px);
    position: absolute;
    z-index: -1;
    height: 20rem;
    width: 12rem;
}
