body {
    background-color: #3c3f45;
    background-image: 
    linear-gradient(rgba(60, 63, 69, 0.8), rgba(60, 63, 69, 0.8)), 
    url('../public/noise.png');
    background-repeat: repeat;
    background-size: cover;
}
.flex {
    display: flex;
    align-items: start;
    justify-content: start;
}
.flexy {
    display: flex;
    flex-direction: column;
}